/*Global*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    background: rgb(25,0,23);
    background: -moz-linear-gradient(90deg, rgba(25,0,23,1) 0%, rgba(0,11,48,1) 50%, rgba(60,0,62,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(25,0,23,1) 0%, rgba(0,11,48,1) 50%, rgba(60,0,62,1) 100%);
    background: linear-gradient(90deg, rgba(25,0,23,1) 0%, rgba(0,11,48,1) 50%, rgba(60,0,62,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#190017",endColorstr="#3c003e",GradientType=1);
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}

h2{
    color: white;
}
/*Principal Barra de Navegacion*/
.logo{
    width: 250px;
}
.nav-main{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
/*Lista Menu*/
.nav-bar{
    display: flex;
    width: 100%;
    justify-content: end;
}

.nav-bar ul{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1vw;
}

.nav-bar ul a:hover{
    opacity: 0.5;
}

hr{
    margin-top: 20px;
}

/*Diseño Web*/
.web-dev{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.web-dev .text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    width: 100%;
}

.web-dev .text .headder{
    text-align: start;
    font-size: 3vw;
}

.web-dev .text .info{
    text-align: end;
    margin-top: 50px;
    margin-right: 20px;
    font-size: 1.5vw;
}

.web-dev .text .contact{
    margin-top: 40px;
    text-align: end;
    font-size: 1.3vw;
    margin-left: 350px;
}

.web-dev a:hover{
    opacity: 0.5;
    border-bottom: 1px solid white;
}

.imgWeb{
    clip-path: circle(50%);
    width: 50%;
}

/*Reparacion Computo*/
.pc-fix{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pc-fix .text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    width: 100%;
}

.pc-fix .text .headder{
    text-align: start;
    font-size: 3vw;
}

.pc-fix .text .info{
    text-align: end;
    margin-top: 50px;
    margin-right: 20px;
    font-size: 1.5vw;
}

.pc-fix .text .contact{
    margin-top: 40px;
    text-align: end;
    font-size: 1.3vw;
    margin-left: 350px;
}

.pc-fix a:hover{
    opacity: 0.5;
    border-bottom: 1px solid white;
}

.pcFix{
    clip-path: circle(50%);
    width: 50%;
}
